.TimeBar {
    height: 10px;
    background-color: #c3c3c3;
    width: 100%;
    position: relative;
    z-index: -1;
}

.TimeBarContainer {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    order: 1;
    margin-top: -5px;
}

.Progress {
    height: 100%;
    background-color: #000308;
}

@media (min-width: 500px) {
    .TimeBarContainer {
        margin-top: 15px;
        order: 2;
    }

    .TimeBar {
        width: 70%;
        position: inherit;
    }
}